.git
.gitignore
.gitattributes
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
*.md
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*~
